@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Borna Medium';
    src: url('./assets/fonts/borna-medium-webfont.woff') format('woff')
}

* {
    cursor: ;
}